{% extends 'base.html' %}
{% load static %}

{% block title %}
{{movie_item.title}}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-4 mt-sm-2">
<div class="card">
    <div class="card-body" >
        <div class="media">
            <h2 class="card-title" align="center">{{ movie_item.title }}</h2> <hr>
            <h5 class="card-title" align="center">{{ movie_item.genre }}</h5><hr>
            <img class="card-img-top" src="{{ movie_item.photo.url }}"  width="" height="400">
            <div class="media-body">
                <p class="card-text" >{{ movie_item.description}}</p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="col-sm-4 mt-sm-2">
<div class="card">
    <div class="card-body" >
        <div class="media">
            <h2 class="card-title" align="center">Залишити відгук</h2> <hr>
            <form  method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Надіслати</button>
            </form>
        </div>
    </div>
</div>
</div><div class="col-sm-4 mt-sm-2">
<div class="card">
    <div class="card-body" >
        <div class="media">
            <h2 class="card-title" align="center">Відгуки</h2> <hr>
            {% for item in review %}
            {% if item.title == movie_title  %}
            <p>{{item.content}}</p><hr>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
</div>




{% endblock %}