.errorlist {
 color: red;
}

.indent {
   margin: 0 0 20rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input[type="checkbox"]:disabled {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url('https://miromax.film/cinema/cinema-good-seat.svg');
  background-size: cover;
}

.label {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url('https://miromax.film/cinema/cinema-good-seat.svg');
  background-size: cover;
}

.label input {
  width: 0;
  height: 0;
  opacity: 0;
  vissibility: hidden;
}

.label .place {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 0.2s;
}

.label .tooltip {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 5px;
  border: 1px solid #eaebe1;
  opacity: 0;
  min-width: 70px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  display: block;
  visibility: hidden;
  transition: opacity linear 0.2s;
  transform: translateX(-50%);
}

.label input:checked + .place {
  opacity: 1;
  visibility: visible;
  background-color: #54a23c;
}

.label:hover .tooltip {
  bottom: 100%;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}


